body{
  font-family: Hack, Menlo, Monaco, Ubuntu Mono, monospace;
  background-color: #282828;
}

.title{
  font-size: 18px;
  color: #fbf1c7;
}

.nav{
  background-color: #282828;
}

/* .nav-item .title{
  font-weight: bold;
} */

a.nav-item {
  text-decoration: none;
}

.section{
  background-color: #282828;
}

.title a{
  color: #fbf1c7;
}

.subtitle{
  color: #458588;
  margin-bottom: 20px;
}

.content{
  color: #ebdbb2;
  font-size: 14px;
}

article > .title + .content{
  margin-top: 7px !important;
}

.title + .content{
  margin-top: 50px;
}

a:hover, strong, table th{
  color: #d5c4a1;
}

.button{
  align-items: inherit;
  line-height: 20px;
}

.button.is-link{
  color: #fbf1c7;
}

.button.is-link:focus, .button.is-link:hover {
  background-color: inherit;
  color: inherit;
}

.content h1:not(:first-child), .content h2:not(:first-child), .content h3:not(:first-child), .content h4:not(:first-child), .content h5:not(:first-child), .content h6:not(:first-child), article + article {
    margin-top: 50px;
}

.subtitle + .title {
    margin-top: -20px;
    text-decoration: underline;
    margin-bottom: 10px;    
}

.copyleft {
  display:inline-block;
  transform: rotate(180deg);
}

.cd-footer{
  color: #bdae93;
}

a{
  color: #fbf1c7;
  text-decoration: underline;
}

a:hover{
  color: #d5c4a1;
}

.subtitle a:hover, .title a:hover {
    border-bottom: none;
}


.highlight pre{
  background-color: #073642;
}

.content a:not(.button) {
  border-bottom: none;
}

.content a:not(.button):visited {
  color: #ebdbb2;
}

.content h3{
  font-size: inherit;
  font-weight: bold;
  color: inherit;
}
